#canvas {
  border-style: solid;
  border-width: thin;
  border-color: black;
  /*height: 100%;
  width: 50%;*/
  position: relative;
  margin-left: 24%;
  margin-right: 25%;
  margin-bottom: 5%;
  background: rgb(100, 197, 251);
}