
body {
  background-size: 100%;
  background-color: rgb(95, 186, 252);
}
h1 {
  color: yellow;
  font-size: 250%;
  border-style: solid;
  border-width: 7px;
  background-color: transparent;
  border-color: yellow;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#tablecenter {
  margin-top: 4%;
}
#tablein {
  width: 100%;
}
#top {
  margin-top: 3%;
}
.imgwidth {
  border-style: solid;;
  border-width: thin;
  border-color: white;
}